/* Main Styling */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;  
  font-size:16px;
  background-color: #ccc;
  line-height: 150%;
}

a {
  color: #734918;
}

hr {
  border: 0px;
  height: 1px;
  color: #ccc;
  background-color: #a5a5a5;
  
}

#header {
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px; 
  color:#999;
}

#header img {
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: 70px;
}

#subheader {
  text-align: center;
  font-size: 18px;
  margin-top:24px;
  margin-bottom: 24px;
  color: #999; 
}

#current {
  color: #666;
}

#wrapper {
  width: 960px;
  height: 100%; 
  margin: 0 auto; 
  background-color: #CCCCCC;
}

#content {
  width: 90%;
  margin: 0 auto;
}

#footer {
  color: #333;
  font-size: 50%;
  margin-top:24px;
}

/* Mobile Styling */

@media only screen and (max-width:600px) {
  #header img {
    margin-left: 0px;
    width: 75%;
  }  

  #header {
    font-size: 20px;
  }
 
  #wrapper {
    width: 100%;
  }
}
