/* Main Styling */



html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
	font-size: 16px;
	background-color: #ccc;
	line-height: 150%;
}

h2, h3 {
	display: inline;
}

a {
	color: #734918;
  text-decoration-style: dotted;
}

hr {
	border: 0px;
	height: 1px;
	color: #ccc;
	background-color: #a5a5a5;
}

#header {
	text-align: center;
	font-size: 22px;
	margin-bottom: 24px;
	color: #999;
}

#header img {
	margin-top: 20px;
}

#subheader {
	text-align: center;
	font-size: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #999;
}

#current {
	color: #666;
}

#wrapper {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	background-color: #CCCCCC;
}

#content {
	width: 90%;
	margin: 0 auto;
  margin-top: 22px;
}

#feed-embeds {
  width: 80%;
  margin: 0 auto;
  border-style: inset;
  background-color: #ddd;
  padding: 20px;
  margin-top: 25px;
}

#feed-embeds p {
  margin-bottom: 2px;
}

#rss-feed a {
  display: none;
}

#rss-feed h4 a {
  display: block;
}

#footer {
  text-align: center;
}

.responsive-two-column-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.responsive-two-column-grid > * {
	padding-left: 1rem;
	padding-right: 1rem;
}

.home-two-column-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
}

.home-two-column-grid > * {
	padding-left: 1rem;
	padding-right: 1rem;
}

.project-progress p {
  margin-bottom: 8px;
}

div .progress-container {
  width: 100%;
  height: 15px;
  border: 2px solid #4A3010;
  background-color: #634116;
}

div .progress {
  height: 7px;
  padding: 4px;
  border: 0px;
  background-color: #946921;
}

#add-margin {
	margin-top: 22px;
}

#remove-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

#big-margin {
  width:75%;
  margin: 0 auto;
}

#increase-line-height {
	/*line-height: 200%;*/
}

#small-font {
	font-size: 80%;
	vertical-align: middle;
}

#hide-on-desktop {
	display: none;
}

li {
  margin-top: 10px;
}

a:hover {
  text-decoration-style: solid;
}

/* Mobile Styling */



@media only screen and (max-width:600px) {
	#header img {
    margin-left: 0px;
	width: 75%;
}

#header {
	font-size: 20px;
}

#wrapper {
	width: 100%;
}

#hide-on-desktop {
	display: inline;
}

#increase-line-height {
	line-height: 150%;
}

#big-margin {
  width:100%;
}

.responsive-two-column-grid {
  display: block;
}

.home-two-column-grid {
  display: block;
}

}
